{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' https://ajax.googleapis.com https://stackpath.bootstrapcdn.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />  
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>Guitainer</title>
</head>
<body>
    {% include 'base/nav.html' %}
    {% block content %}
    {% endblock %}
</body>
</html>