* {
    font-size: 20px;
    box-sizing: border-box;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

html {
    height: 100%;
    background-image: linear-gradient(to bottom right, #010012 25%, #141C38);
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bodyContainer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.custom-dropdown {
    display: none;
}

.custom-dropdown.show {
    display: block;
}

footer { 
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, transparent, #141C38 70%, transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EBEFFF;
}

footer p {
    margin: 1rem;
    font-size: 1rem;
}

.gap25 {
    gap: 1.5rem;
}

.headerItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap;
}

.headerItems .headerContainer {
    width: 50%;
    min-width: 350px;
    text-align: left;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.headerItems .headerContainer h1 {
    margin-left: 3rem;
}

.headerItems .searchContainer {
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
    min-width: 300px;
    flex-wrap: wrap;
}

.headerItems .searchContainer input {
    background-color: #FFF3EB;
    border-radius: 2rem;
    font-size: 2.5rem;
    text-indent: 1rem;
}

.headerItems .searchContainer button {
    font-size: 1rem;
    background-color: #E57B2E;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .5rem;
    color: #FFF3EB;
    font-weight: bolder;
}

.headerItems .searchContainer button:hover {
    background-color: #5C6687;
    transform: scale(1.1);
}

.headerItems .searchContainer button:active {
    transform: scale(1.05);
}

.headerContainer {
    background-image: linear-gradient(to right, transparent, rgba(229, 123, 46, .8) 40%, transparent);
    width: 80%;
    text-align: center;
    color: #FFF3EB;
    text-shadow: -3px 0 #401B00, 0 3px #401B00, 3px 0 #401B00, 0 -3px #401B00;
    margin-top: 2rem;
}

.headerContainer h1 {
    font-size: 5rem;
    margin: 0;
    padding: 2rem;
}

.loader {
    border: 1.2rem solid #f3f3f3; 
    border-top: 1.2rem solid #E57B2E; 
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    animation: spin 2s linear infinite;
    display: none;
}

.songListContainerHor {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.songListContainerHor a {
    display: flex;
    width: 100%;
    height: 100%;
}

.songListContainerHor .musicCardHor {
    width: 100%;
    min-width: 350px;
    height: 125px;
    background-color: #E57B2E;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border: 5px solid #401B00;

}

.songListContainerHor img {
    min-width: 100px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    flex: 1;
    margin-left: -10px;
}

.songListContainerHor .titleArtist {
    flex: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.songListContainerHor .titleArtist p {
    margin: 0;
    padding: 0;
    font-size: .75rem;
}

.songListContainerHor .titleArtist .title {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: #FFF3EB;
}

.songListContainerHor button {
    border-radius: .5rem;
    height: 2rem;
    background-color: #FAD6BB;
    color: #401B00;
    font-size: 1rem;
    font-weight: bolder;
    margin: .5rem;
}

.songListContainerVert {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
    overflow-x: hidden;
}

.songListContainerVert .musicCardVert {
    width: 300px;
    height: 325px;
    background-color: #E57B2E;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border: 5px solid #401B00;
}

.songListContainerVert .musicCardVert:hover {
    transform: translateX(30px) translateY(-20px); 
    box-shadow: -40px 40px 60px rgba(0, 0, 0, 0.8);
}

.songListContainerVert .musicCardVert button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    display: none;
    z-index: 1; 
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background-color: #FAD6BB;
    color: #401B00;
    font-size: 1rem;
    font-weight: bolder;
}

.songListContainerVert .musicCardVert:hover button {
    display: block; 
}

.songListContainerVert .musicCardVert button:hover {
    background-color: #5C6687;
    color: #FFF3EB;
    transform: scale(1.1);
}

.songListContainerVert .musicCardVert button:active {
    transform: scale(1.05);
}

.songListContainerVert .musicCardVert p {
    font-size: 1.25rem;
    margin: 0;
    padding: 1rem;
    color: #FFF3EB;
}

.songListContainerVert .musicCardVert img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.standardForm {
    background-color: #FAD6BB;
    width: 50%;
    min-width: 380px;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1rem;
    border: .5rem solid #401B00;
}

.standardFormBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.standardFormBottomRight {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.standardForm button {
    align-self: center;
    font-size: 2.5rem;
    margin: 1rem 0 1rem 0;
    background-color: #E57B2E;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .5rem;
    color: #FFF3EB;
    font-weight: bolder;
}

.standardForm button:hover {
    background-color: #5C6687;
    transform: scale(1.1);
}

.standardForm button:active {
    transform: scale(1.05);
}

.standardForm .checkboxContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.standardForm .checkboxContainer label {
    font-size: 2.5rem;
    display: inline-block;
    width: 11rem;
    text-align: right;
    background-color: #401B00;
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 8px;
    -webkit-background-clip: text;
    color: #FFF3EB;
    font-weight: bolder;
}

.standardForm .checkboxContainer input {
    width: 2rem;
    height: 2rem;
    margin: 1rem 0 1rem 0;
}

.standardForm .rowItems {
    width: 100%;
    display: flex;
    gap: .25rem;
    margin: 1rem 0 1rem 0;
    flex-wrap: wrap;
}

.standardForm .rowItems .inputBar {
    flex: 1;
    background-color: #FFF3EB;
    border-radius: .5rem;
    height: 3rem;
    font-size: 2.5rem;
    min-width: 10rem;
    align-self: center;
}

.standardForm .rowItems .inputFile {
    flex: 1;
    font-size: 2rem;
    min-width: 10rem;
    align-self: center;

}

.standardForm .rowItems .inputText {
    flex: 1;
    background-color: #FFF3EB;
    border-radius: .5rem;
    height: 10rem;
    font-size: 2.5rem;
    min-width: 10rem;
    align-self: center;
}

.standardForm .rowItems label {
    display: inline-block;
    width: 11rem;
    font-size: 2.5rem;
    text-align: right;
    background-color: #401B00;
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 8px;
    -webkit-background-clip: text;
    color: #FFF3EB;
    font-weight: bolder;
    padding: .25rem;
}

.standardForm .rowItems .loginRegisterLabel {
    width: 14rem;
}

@media (max-width: 1250px) {
    .headerItems .searchContainer {
        margin: auto;
        justify-content: center;
    }
    
    .headerItems {
        justify-content: center;
    }
    
    .headerItems .headerContainer h1 {
        margin: 0;
        font-size: 3.5rem;
    }

    .songListContainer .musicCardVert button {
        display: block;
    }
}


@media (max-width: 899px) {
    .catalogueHeader {
        font-size: 3rem !important;
    }

    .navbar.d-none.d-lg-block {
        display: none !important;
    }

    .loader {
        width: 4.5rem;
        height: 4.5rem;
    }
    
    .headerItems .searchContainer input {
        font-size: 1.5rem;
    }

    .songListContainer {
        flex-direction: column;
    }

    .songListContainerVert {
        display: none;
    }

    .songListContainerHor {
        display: flex;
    }
    
}

@media (min-width: 900px) {
    .navbar.d-lg-none {
        display: none !important;
    }  

    .songListContainerHor {
        display: none;
    }
}