* {
    font-size: 20px;
    box-sizing: border-box;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

html {
    height: 100%;
    background-image: linear-gradient(to bottom right, #010012 25%, #141C38);
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bodyContainer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.custom-dropdown {
    display: none;
}

.custom-dropdown.show {
    display: block;
}

footer { 
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, transparent, #141C38 70%, transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EBEFFF;
}

footer p {
    margin: 1rem;
    font-size: 1rem;
}

.gap25 {
    gap: 1.5rem;
}

.headerContainer {
    background-image: linear-gradient(to right, transparent, rgba(229, 123, 46, .8) 40%, transparent);
    width: 80%;
    text-align: center;
    color: #FFF3EB;
    text-shadow: -3px 0 #401B00, 0 3px #401B00, 3px 0 #401B00, 0 -3px #401B00;
    margin-top: 2rem;
}

.headerContainer h1 {
    font-size: 5rem;
    margin: 0;
    padding: 1rem;
}

.loader {
    border: 1.2rem solid #f3f3f3; 
    border-top: 1.2rem solid #E57B2E; 
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    animation: spin 2s linear infinite;
    display: none;
}

.rowItems {
    width: 100%;
    display: flex;
    gap: .25rem;
    margin: 1rem 0 1rem 0;
    flex-wrap: wrap;
}

.rowItems .inputBar {
    flex: 1;
    background-color: #FFF3EB;
    border-radius: .5rem;
    height: 3rem;
    font-size: 2.5rem;
    min-width: 10rem;
    align-self: center;
}

.rowItems .inputFile {
    flex: 1;
    font-size: 2rem;
    min-width: 10rem;
    align-self: center;

}

.rowItems .inputText {
    flex: 1;
    background-color: #FFF3EB;
    border-radius: .5rem;
    height: 10rem;
    font-size: 2.5rem;
    min-width: 10rem;
    align-self: center;
}

.rowItems label {
    display: inline-block;
    width: 11rem;
    font-size: 2.5rem;
    text-align: right;
    background-color: #401B00;
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 8px;
    -webkit-background-clip: text;
    color: #FFF3EB;
    font-weight: bolder;
    padding: .25rem;
}

.rowItems .loginRegisterLabel {
    width: 14rem;
}

.standardForm {
    background-color: #FAD6BB;
    width: 50%;
    min-width: 380px;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1rem;
    border: .5rem solid #401B00;
}

.standardFormBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.standardFormBottomRight {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.standardForm button {
    align-self: center;
    font-size: 2.5rem;
    margin: 1rem 0 1rem 0;
    background-color: #E57B2E;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .5rem;
    color: #FFF3EB;
    font-weight: bolder;
}

.standardForm button:hover {
    background-color: #5C6687;
}

.standardForm .checkboxContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.standardForm .checkboxContainer label {
    font-size: 2.5rem;
    display: inline-block;
    width: 11rem;
    text-align: right;
    background-color: #401B00;
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 8px;
    -webkit-background-clip: text;
    color: #FFF3EB;
    font-weight: bolder;
}

.standardForm .checkboxContainer input {
    width: 2rem;
    height: 2rem;
    margin: 1rem 0 1rem 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Hide the first navbar on screens smaller than 800px */
@media (max-width: 874px) {
    .navbar.d-none.d-lg-block {
        display: none !important;
    }

    .loader {
        width: 4.5rem;
        height: 4.5rem;
    }
}

/* Hide the second navbar on screens larger than 800px */
@media (min-width: 875px) {
    .navbar.d-lg-none {
        display: none !important;
    }
}