{% extends 'base/main.html' %}

{% block content %}
    <form>
        <label for="title-input">Title:</label>
        <input type="text" id="title-input" name="title-input" required><br><br>

        <label for="artist-input">Artist:</label>
        <input type="text" id="artist-input" name="artist-input"><br><br>

        <label for="lyrics-boolean">Include Lyrics:</label>
        <input type="checkbox" id="lyrics-boolean" name="lyrics-boolean"><br><br>

        <label for="mp3-boolean">Include MP3:</label>
        <input type="checkbox" id="mp3-boolean" name="mp3-boolean"><br><br>

        <label for="karaoke-boolean">Include Karaoke:</label>
        <input type="checkbox" id="karaoke-boolean" name="karaoke-boolean"><br><br>

        <label for="tab-boolean">Include Tab:</label>
        <input type="checkbox" id="tab-boolean" name="tab-boolean"><br><br>

        <button type="submit" value="Submit">Submit</button>
    </form>

    {% load static %}
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var csrftoken = "{{ csrf_token }}";
            var form = document.querySelector('form');
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                var title = document.getElementById('title-input').value;
                var artist = document.getElementById('artist-input').value;
                var lyrics = document.getElementById('lyrics-boolean').checked;
                var mp3 = document.getElementById('mp3-boolean').checked;
                var karaoke = document.getElementById('karaoke-boolean').checked;
                var tab = document.getElementById('tab-boolean').checked;

                fetch('/song-search/?song_title=' + encodeURIComponent(title))
                .then(response => response.json())
                .then(data => {
                    if (data.song_id) {
                        var url = "/song/" + data.song_id;
                        window.location.href = url;
                    } 
                    else {
                        fetch('/correct-title-artist?title=' + encodeURIComponent(title) + '&artist=' + encodeURIComponent(artist))
                        .then(response => response.json())
                        .then(data => {

                            if (data.song_id) {
                                var songId = data.song_id;
                                var songPageUrl = "/song/" + data.song_id;
                                console.log(songPageUrl);
                            } 
                            else {
                                alert("No song found alert");
                                return;
                            }


                            var title = encodeURIComponent(data.correct_title);  
                            var artist = encodeURIComponent(data.correct_artist);  

                            var imgUrl = '/obtain-img/?song_id=' + songId + '&title=' + title + '&artist=' + artist;

                            var lyricsUrl = null;
                            if (lyrics) {
                                var lyricsUrl = '/obtain-lyrics/?song_id=' + songId + '&title=' + title + '&artist=' + artist;
                            } 

                            var mp3Url = null;
                            if (mp3) {
                                var mp3Url = '/obtain-mp3/?song_id=' + songId + '&title=' + title + '&artist=' + artist;
                            } 

                            var karaokeUrl = null;
                            if (karaoke) {
                                var karaokeUrl = '/obtain-karaoke/?song_id=' + songId + '&title=' + title;
                            } 

                            var tabUrl = null;
                            if (tab) {
                                var tabUrl = '/obtain-tab/?song_id=' + songId + '&title=' + title;
                            } 

                            var urls = [imgUrl, lyricsUrl, mp3Url, karaokeUrl, tabUrl];  

                            fetchUrls(urls, imgUrl, lyricsUrl, mp3Url, karaokeUrl, tabUrl).then(() => {
                                window.location.href = songPageUrl;
                            });
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
