{% extends 'base/main.html' %}

{% block content %}

    <div class="bodyContainer">

        <div class="headerItems">
            <div class="headerContainer" >
                <h1 data-group-name="{{ name }}">{{ name }}</h1>
            </div>
            <div class="messageContainer">
                <p>{{ message }}</p>
            </div>
        </div>

        <div class="groupContent">

            <div class="leftSideBar">
                <h2>Users:</h2>
                <ul>
                    {% for user in users %}
                        <div class="userCard">
                            <li>{{ user.username }}</li>
                            {% if is_current_user_admin %}
                                {% if not user.admin %}
                                    <div class="userButtonContainer">
                                        <button class="make-admin" data-user-id="{{ user.user_id }}">Make Admin</button>
                                        <button id="leave-user-group-button" data-group-id="{{ group_id }}" data-user-id="{{ user_id }}" data-user-name="{{ user.username }}">Leave Group</button>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% empty %}
                        <li>No users in this group.</li>
                    {% endfor %}
                </ul>
            </div>
            

            <div class="middleBar">
                <h2>Songs:</h2>
                <ul>
                    {% for song in songs %}
                        <li>
                            {{ song.song.title }}
                            {{ song.song.artist }}
                            <img src="{{ song.img_url }}" alt="Album Artwork" height="100" width="100">
                            <a href="{% url 'song-detail' song.song.id %}">View Song</a>
                            <button data-song-id="{{ song.song.id }}" class="remove-song-group" data-song-title="{{ song.song.title }}">Remove Song</button>
                        </li>
                    {% empty %}
                        <li>No songs in this group.</li>
                    {% endfor %}
                </ul>
            </div>
            

            <div class="rightSideBar">
                {% if is_current_user_admin %}
                    <button id="add-user-button">Add User</button>
                    <button id="edit-message-button">Edit Group Message</button>
                    <button id="edit-group-name-button">Edit Group Name</button>
                {% endif %} 
                <button id="leave-group-button" data-group-id="{{ group_id }}" data-user-id="{{ current_user_id }}">Leave Group</button>
                {% if is_current_user_admin %}
                    <button id="delete-group">Delete Group</button>
                {% endif %}
            </div>    

        </div>

        <form id="add-user-form" style="display: none;" action="{% url 'add-user' group_id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="username-input">Username:</label>
            <input id="username-input" type="text" name="username" autocomplete="username"></input>
            <label for="make-admin-input">Make Admin?</label>
            <input type="checkbox" id="make-admin-input" name="make_admin_form" autocomplete="off"></input>
            <input type="submit" value="Submit"></input>
            <button type="button" id="cancel-button-add-user">Cancel</button>
        </form>

        <form id="edit-message-form" style="display: none;" action="{% url 'edit-message' group_id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="message-input">Message:</label>
            <textarea id="message-input" name="message"></textarea>
            <input type="submit" value="Submit"></input>
            <button type="button" id="cancel-button-message">Cancel</button>
        </form>

        <form id="edit-group-name-form" style="display: none;" action="{% url 'edit-group-name' group_id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="group-name-input">Group Name:</label>
            <input id="group-name-input" type="text" name="group_name"></input>
            <input type="submit" value="Submit"></input>
            <button type="button" id="cancel-button-name">Cancel</button>
        </form>

        {% include 'base/footer.html' %}

    </div>

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        var csrftoken = "{{ csrf_token }}";
        var groupId = "{{ group_id }}";
        var groupName = document.querySelector('h1').dataset.groupName;

        document.getElementById('cancel-button-name').addEventListener('click', function() {
            document.getElementById('edit-group-name-form').style.display = 'none';
        });

        document.getElementById('cancel-button-message').addEventListener('click', function() {
            document.getElementById('edit-message-form').style.display = 'none';
        });

        document.getElementById('cancel-button-add-user').addEventListener('click', function() {
            document.getElementById('add-user-form').style.display = 'none';
        });

        $('#add-user-form').on('submit', function(event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                method: form.attr('method'),
                data: form.serialize(),
                success: function(data) {
                    location.reload();
                },
                error: function(xhr) {
                    alert(JSON.parse(xhr.responseText).message);        
                }
            });
        });

        $('#add-user-button').on('click', function() {
            $('#add-user-form').show();
        });

        window.onload = function () {
            handleItemRemoval(csrftoken, 'your library');
        };

        document.addEventListener('DOMContentLoaded', function() {
            var makeAdminButton = document.querySelector('.make-admin');
            if (makeAdminButton) {
            makeAdminButton.addEventListener('click', function() {
                var userId = makeAdminButton.dataset.userId
                    fetch('/make-admin/' + groupId + '/' + userId + '/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken
                        },
                        body: JSON.stringify({})
                    }).then(function(response) {
                        return response.json()
                    }).then(function(data) {
                        location.reload()
                    })
                })
            }
        });

        
        document.addEventListener('DOMContentLoaded', function() {
            var editMessageButton = document.querySelector('#edit-message-button');
            var editMessageForm = document.querySelector('#edit-message-form');

            editMessageButton.addEventListener('click', function(event) {
                editMessageForm.style.display = 'block';
            });

            editMessageForm.addEventListener('submit', function(event) {
                event.preventDefault();  

                var message = editMessageForm.querySelector('textarea[name="message"]').value;

                fetch('/edit-message/' + groupId + '/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({
                        message: message
                    })
                }).then(function(response) {
                    return response.json();
                }).then(function(data) {
                    location.reload();
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            var removeSongGroupButton = document.querySelector('.remove-song-group');
            if (removeSongGroupButton) {
                removeSongGroupButton.addEventListener('click', function() {
                    var songId = removeSongGroupButton.dataset.songId;
                    var songTitle = removeSongGroupButton.dataset.songTitle;

                    createConfirmationDialog(`Are you sure you want to remove ${songTitle} from ${groupName}?`,
                    '/remove-song-group/' + groupId + '/' + songId + '/', csrftoken, 'stay');
                });
            }
        });


        document.addEventListener('DOMContentLoaded', function() {
            var editGroupNameButton = document.querySelector('#edit-group-name-button');
            var editGroupNameForm = document.querySelector('#edit-group-name-form');

            editGroupNameButton.addEventListener('click', function(event) {
                editGroupNameForm.style.display = 'block';
            });
   
            editGroupNameForm.addEventListener('submit', function(event) {
                event.preventDefault();  

                var groupName = editGroupNameForm.querySelector('input[name="group_name"]').value;

                fetch('/edit-group-name/' + groupId + '/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({
                        group_name: groupName
                    })
                }).then(function(response) {
                    return response.json();
                }).then(function(data) {
                    location.reload();
                });
            });
        });

        document.getElementById('leave-group-button').addEventListener('click', function() {
            var groupId = this.dataset.groupId;
            var userId = this.dataset.userId;

            createConfirmationDialog(`Are you sure you want to leave ${groupName}?`,
            '/remove-user/' + groupId + '/' + userId + '/', csrftoken, 'library');
        });

        document.getElementById('leave-user-group-button').addEventListener('click', function() {
            var groupId = this.dataset.groupId;
            var userId = this.dataset.userId;
            var userName = this.dataset.userName;

            createConfirmationDialog(`Are you sure you want ${userName} to leave ${groupName}?`,
            '/remove-user/' + groupId + '/' + userId + '/', csrftoken, 'library');
        });

        document.addEventListener('DOMContentLoaded', function() {
            var deleteGroupButton = document.querySelector('#delete-group');
            if (deleteGroupButton) {
                deleteGroupButton.addEventListener('click', function() {

                    createConfirmationDialog(`Are you sure you want to permanently delete ${groupName}?`,
                    '/delete-group/' + groupId + '/', csrftoken, 'library');
                });
            }
        });
    </script>
{% endblock %}
